mat-card {
  text-align: center;
  margin-bottom: 30px;
}

.add-new-customer--wrapper {
  text-align: center;

  .upload-image--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
}

::ng-deep {
  .mat-radio--wrapper {
    mat-label {
      margin-right: 25px;
    }

    mat-radio-button {
      label {
        margin-top: 7px;
        margin-right: 15px;
      }
    }
  }


  .ngx-select {
    width: 650px;
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    .dropdown {
      width: 67%;
      margin-left: 45px;
    }
  
    .ngx-select__selected {
      width: 240px;
    }
  }

  .hidden-file--wrapper {
    display: none;
  }
}

.create-pin {
  margin-left: 280px;
}

ngx-select {
  width: 50% !important;
}

.image-upload--wrapper {
  margin-bottom: 7px;
}

.ng2-drop--wrapper {
  border: 2px solid rgb(202, 200, 200);
  height: 50px;
  width: 300px;
  padding: 12px;
  margin-bottom: 12px !important;
}